@import "tailwindcss";

:root {
    --main-bg: #151515;
    --loader-bg: #0b0b0b;
}

@font-face {
    font-family: 'Silk italic';
    src: url('./fonts/silkserif-regular-italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Plain Regular';
    src: url('./fonts/plain-regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Plain Light';
    src: url('./fonts/plain-light.ttf') format('truetype');
  }



.Loader h1 {
    font-family: 'Plain Regular';
}

.Loader h2 {
    font-family: 'Silk italic';
}

.nav-crv h3 {
    font-family: 'Plain Light';
}